<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Scan Page</title>
    <style>
        body {
            font-family: Arial,sans-serif;
        }
        .big {
            font-size: 10vw;
            color: #0009f1;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2><a href="/">Стеклопакет</a></h2>
<div class="main-info hidden-at-start">
    <h2 id="main-info" class="big"></h2>
    <h2 id="first-info" class="big"></h2>
    <h2 id="second-info" class="big"></h2>
    <h2><a href="/platform/scan">Подробнее</a></h2>
</div>
<script src="/js.js"></script>
</body>
</html>